:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg: #EEF2F4;
  --color-text-black: rgba(0, 0, 0, 1);
  --color-text-gray:rgba(134, 150, 156, 1);
  --color-accent: rgba(122, 92, 250, 1);
  --color-white: rgba(255, 255, 255, 1);
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
